body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(43, 112, 129);
  font-size: 16px;
}

header {
  color: red;
  font-family: Georgia, serif;
  background-color: rgb(138, 207, 207);
}

.btn-success {
  background-color: rgb(138, 207, 207);
}

.btn-success:hover {
  background-color: gray;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.form-group {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#add-new-task {
  margin-top: 15px;
}